@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__heading{
    left:30%;
}
.slider-dots{
    right: 0;
    top: 50%;
    transform:translateY(-50%);
}

.slider-dots button{
    font-size: 0;
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    outline: none;
}

.slick-dots li.slick-active button{
    background: rgb(248, 96, 96);
    width: 10px;
    height: 10px;
}

.slick-dots ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}